.postDetailsRootDiv {
	margin: 1%;
	height: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.postDetailsLeft {
	display: flex;
	margin-left: 0;
	padding-left: 2%;
	padding-right: 2%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* width: 40vw; */
	width: 50%;
	max-height: vh;
	/* height: 100%; */
	border-radius: 1rem;
	
}

.commentSection {
	width: 30%;
	/* width: 40vw; */
	padding: 10px;
}

.resume {
	max-height: 85vh;
}

.p {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
