.formInputComponent {
  margin-bottom: 1rem;
}

.formInputComponent p {
  font-size: 1rem;
  color: #f10c0c;
  margin-left: 11rem;
  text-align: left;
}

.formLabelabell {
  font-size: 1rem;
  color: rgb(17, 17, 17);
  text-align: right;
}

.form {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #ffffff !important;
  padding: 10px 10px 10px 10px;
  border-radius: 1rem;
}

.formInput {
  display: inline;
  border-radius: 6px;
  height: 30px;
  width: 70%;
  border-color: rgb(2, 2, 2);
  text-align: left;
  float: right;
}

.formInputBtn {
  width: 50% !important;
  justify-content: center;
  height: 70%;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: white;
  border: none !important;
  background: linear-gradient(rgb(84, 177, 109) 0%, rgb(79, 146, 91) 100%);
}

.formInputBtn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(1, 167, 250) 50%,
    rgb(7, 155, 240) 100%
  ) !important;
  transition: all 0.4s ease-out;
}

.formInputLogin {
  font-size: 0.8rem;
  color: rgb(20, 19, 19);
  text-align: center;
  margin-top: 1rem !important;
}

.formInputLogin a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}
